@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    transform: translateX(50px);
    opacity: 0;
    transition: 300ms;
}

.card.show {
    transform: translateX(0);
    opacity: 1;
}



